<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weekend Homework 6</title>
</head>
<body>
  <main id="mainSection">

  </main>

<script type="text/template" id="mainArea">
  <input id="todoInput" type="text" placeholder="Whatcha need to be doin?"/>
  <ul id="listStart">
  </ul>
</script>

<script type='text/template' id="todoList">
  <% _.forEach(doLists, function(data){ %>
  <li> <%= data.todo %> </li>
    <% }) %>
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src='js/main.js'></script>
  <script src='js/models/todoModel.js'></script>
  <script src='js/collections/todoCollection.js'></script>
  <script src='js/views/todoView.js'></script>
  <script src='js/views/todoListView.js'></script>
  <script src='js/routers/mainRouter.js'></script>
</body>
</html>
