@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../bower_components/neat/app/assets/stylesheets/_neat.scss';

main{
  @include outer-container(30%);
  input{
    @include span-columns(12);
    font-size:2.5em;
    border:2px solid gray;
    border-bottom:1px solid gray;
    margin-bottom:0.3em;
  }
  ul{
    padding:0;
    font-size:1.5em;
    border:2px solid gray;
    #check{
      @include span-columns(0.5);
      margin-left:0;
      margin-right:1em;
      zoom:0.5;
      transform:scale(3);
      position: relative;
      top: 20px;
      left: 12px;
    }
    li{
      list-style: none;
      border-bottom:1px solid gray;
      margin-bottom: 0.3em;
    }
    li:nth-last-child(1){
      border-bottom:none;
    }
    button{
      float:right;
      font-size:0.8em;
      position: relative;
      top: 4px;
      border:none;
      background:none;
    }
  }
  footer{
    @include span-columns(12);
    border:2px solid gray;
    padding:2%;
    position: relative;
    bottom: 1.3em;
    margin-top: 1em;
    #listLength{
      @include span-columns(2.5);
      margin-right: 12.35765%;
    }
    #completed{
      float:right;
      font-weight: bolder;
    }
    a{
      @include span-columns(2.5);
      text-decoration: none;
      color:black;
    }
    .completed{
      color:gray;
      text-decoration: line-through;
    }
  }
}
