html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

main {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-size: 2.5em;
    border: 2px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 0.3em; }
    main input:last-child {
      margin-right: 0; }
  main ul {
    padding: 0;
    font-size: 1.5em;
    border: 2px solid gray; }
    main ul #check {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 1.90725%;
      margin-left: 0;
      margin-right: 1em;
      zoom: 0.5;
      transform: scale(3);
      position: relative;
      top: 20px;
      left: 12px; }
      main ul #check:last-child {
        margin-right: 0; }
    main ul li {
      list-style: none;
      border-bottom: 1px solid gray;
      margin-bottom: 0.3em; }
    main ul li:nth-last-child(1) {
      border-bottom: none; }
    main ul button {
      float: right;
      font-size: 0.8em;
      position: relative;
      top: 4px;
      border: none;
      background: none; }
  main footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border: 2px solid gray;
    padding: 2%;
    position: relative;
    bottom: 1.3em;
    margin-top: 1em; }
    main footer:last-child {
      margin-right: 0; }
    main footer #listLength {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%;
      margin-right: 12.35765%; }
      main footer #listLength:last-child {
        margin-right: 0; }
    main footer #completed {
      float: right;
      font-weight: bolder; }
    main footer a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%;
      text-decoration: none;
      color: black; }
      main footer a:last-child {
        margin-right: 0; }
    main footer .completed {
      color: gray;
      text-decoration: line-through; }
